# Lab 6

## Manual

In [16]:
import pandas as pd

data = pd.read_csv('./data/play_tennis.csv')
data.head

<bound method NDFrame.head of     day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No>

In [ ]:
query = {
    'outlook': 'Sunny',
    'temp': 'Cool',
    'humidity': 'Normal',
    'wind': 'Strong'
}

# posterior_probability_yes = p(outloook/yes) * p(temp/yes) * p(humidity/yes) * p(wind/yes)
# p(Attr/yes) = (p(yes/Attr) * p(Attr)) / p(yes)
# p(yes/Attr) = len(data[data['play'] == 'Yes'])/len(data)
# p(Attr) = len(data[data['Attr']])
# data[data['outlook'] == '']
post_prob_yes = 0
post_prob_no = 0
for attr in query:
#     Calculate p(attr/yes)
#     p_yes_given_attr = len(data[data['play'] == 'Yes'])/len(data)
    attr_data = data[data[attr] == query[attr]]
    prob = len(attr_data[attr_data[attr]])

## In-Lab 1

In [37]:
import pandas as pd

data = pd.read_csv('./data/adult.csv')
data.head().T

,0,1,2,3,4
age,90,82,66,54,41
workclass,?,Private,?,Private,Private
fnlwgt,77053,132870,186061,140359,264663
education,HS-grad,HS-grad,Some-college,7th-8th,Some-college
education.num,9,9,10,4,10
marital.status,Widowed,Widowed,Widowed,Divorced,Separated
occupation,?,Exec-managerial,?,Machine-op-inspct,Prof-specialty
relationship,Not-in-family,Not-in-family,Unmarried,Unmarried,Own-child
race,White,White,Black,White,White
sex,Female,Female,Female,Female,Female
capital.gain,0,0,0,0,0
capital.loss,4356,4356,4356,3900,3900
hours.per.week,40,18,40,40,40
native.country,United-States,United-States,United-States,United-States,United-States
income,<=50K,<=50K,<=50K,<=50K,<=50K

In [45]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
data = data[(data.astype(str) != "?").all(axis=1)]

for col in [
    'workclass', 
    'education', 
    'marital.status', 
    'occupation', 
    'relationship', 
    'race', 
    'sex', 
    'native.country', 
    'income'
]:
    data[col] = label_encoder.fit_transform(data[col])

data.head().T

                     1       3       4       5       6
age                 82      54      41      34      38
workclass            2       2       2       2       2
fnlwgt          132870  140359  264663  216864  150601
education           11       5      15      11       0
education.num        9       4      10       9       6
marital.status       6       0       5       0       5
occupation           3       6       9       7       0
relationship         1       4       3       4       4
race                 4       4       4       4       4
sex                  0       0       0       0       1
capital.gain         0       0       0       0       0
capital.loss      4356    3900    3900    3770    3770
hours.per.week      18      40      40      45      40
native.country      38      38      38      38      38
income               0       0       0       0       0

In [61]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    data.iloc[:, 0:-1].values, 
    data.iloc[:, -1].values, 
    test_size=0.25, 
    random_state=0
)

print(x_train)
print(y_train)

[[    31      4  36592 ...      0     91     38]
 [    41      2 268183 ...      0     45     38]
 [    30      3 153549 ...      0     50     38]
 ...
 [    25      5 194954 ...      0     15     38]
 [    29      2 207064 ...      0     40     38]
 [    42      0  34218 ...      0     50     38]]
[0 1 1 ... 0 0 1]

In [86]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.naive_bayes import GaussianNB, BernoulliNB

knn = KNeighborsClassifier(n_neighbors=15)
dtc = DecisionTreeClassifier()
rfc = RandomForestClassifier(n_estimators=15)
lrcv = LogisticRegressionCV()
bnb = BernoulliNB()
gnb = GaussianNB()
models = {
    'KNN': knn, 
    'Decision Trees': dtc, 
    'Random Forests': rfc, 
    'Logistic Regressions': lrcv, 
    'Bernoulli Naive Bayes': bnb, 
    'Gaussian Naive Bayes': gnb
}

for model in models:
    models[model].fit(x_train, y_train)
    print(model)
    print('Training Accuracy ->', models[model].score(x_train, y_train))
    print('Testing Accuracy ->', models[model].score(x_test, y_test))
    print("=" * 100)

KNN
Training Accuracy -> 0.7989920869988064
Testing Accuracy -> 0.7932634929054502
====================================================================================================
Decision Trees
Training Accuracy -> 1.0
Testing Accuracy -> 0.8102373690491977
====================================================================================================
Random Forests
Training Accuracy -> 0.9952698819680827
Testing Accuracy -> 0.8456438138177961
====================================================================================================
Logistic Regressions
Training Accuracy -> 0.7956765837054065
Testing Accuracy -> 0.8009547805330858
====================================================================================================
Bernoulli Naive Bayes
Training Accuracy -> 0.7250342602006985
Testing Accuracy -> 0.7281527648852937
====================================================================================================
Gaussian Naive Bayes
Training Accuracy -> 0.7877193758012466
Testing Accuracy -> 0.792733059275958
====================================================================================================

## In-Lab 2

Import blood donation dataset from azure dataset and build a naive BAYES classifier. Model and evaluate the result in Microsoft Azure machine learning studio.

>a) Find the accuracy
>
>b) Predict the occupation for the following dataset 
>   
>Recency:3, frequency:33, monetary:7900, time:78

In [2]:
import pandas as pd

data = pd.read_csv('./data/transfusion_data.csv')
print(data.columns)
print("=" * 100)
print(data.info())

Index(['Recency (months)', 'Frequency (times)', 'Monetary (c.c. blood)',
       'Time (months)', 'whether he/she donated blood in March 2007'],
      dtype='object')
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
Recency (months)                              748 non-null int64
Frequency (times)                             748 non-null int64
Monetary (c.c. blood)                         748 non-null int64
Time (months)                                 748 non-null int64
whether he/she donated blood in March 2007    748 non-null int64
dtypes: int64(5)
memory usage: 29.3 KB
None

In [3]:
data.rename(columns={
    'whether he/she donated blood in March 2007': 'target',
    'Recency (months)': 'recency',
    'Frequency (times)': 'freq',
    'Monetary (c.c. blood)': 'monetary',
    'Time (months)': 'time'
}, inplace=True)
data.head()

   recency  freq  monetary  time  target
0        2    50     12500    98       1
1        0    13      3250    28       1
2        1    16      4000    35       1
3        2    20      5000    45       1
4        1    24      6000    77       0

In [4]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    data.iloc[:, 0:-1].values, 
    data.iloc[:, -1].values, 
    test_size=0.25, 
    random_state=0
)

In [5]:
from sklearn.naive_bayes import GaussianNB

gaussian_model = GaussianNB()
gaussian_model.fit(x_train, y_train)

y_preds = gaussian_model.predict(x_test)

In [6]:
from sklearn import metrics

print(metrics.accuracy_score(y_test, y_preds))

0.732620320855615

The accuracy for this model is acceptable but the Bernoulli model is supposedly the best approach to predicting binary target variables. Let's take a look at that as well and see how much better it does.

In [7]:
from sklearn.naive_bayes import BernoulliNB

bernoulli_model = BernoulliNB()
bernoulli_model.fit(x_train, y_train)

y_preds = bernoulli_model.predict(x_test)

print(metrics.accuracy_score(y_test, y_preds))

0.7058823529411765

So that fell through... It seems in this case the Gaussian model is better. Let's use that for now, though it should be noted that the Multinomial model also exists, though I see no evidence indicating that would perform better.

In [8]:
# Predict: Recency:3, frequency:33, monetary:7900, time:78
print(gaussian_model.predict([[3, 33, 7900, 78]]))

[1]